/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: eed71c751f98
 */

import * as z from "zod/v4-mini";
import { CrmcomCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CrmError } from "../models/errors/crm-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Address
 *
 * @remarks
 * Returns address details based on the Google Place Details API. The google place id used for this API could be retrieved with the Search Addresses API. A version 4 UUID should be used as the session_id for a given session. A session starts with one or more Search Addresses API calls, and ends with one Get Address API call. Make sure to generate a new session_id for each new session. When a session_id is reused after the session has concluded, Per Request billing applies instead of Per Session billing.
 */
export function addressLookupComCrmAddressRegistrySelfServiceResourceGetAddress(
  client: CrmcomCore,
  security:
    operations.ComCrmAddressRegistrySelfServiceResourceGetAddressSecurity,
  request: operations.ComCrmAddressRegistrySelfServiceResourceGetAddressRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ComCrmAddressRegistrySelfServiceResourceGetAddressResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: CrmcomCore,
  security:
    operations.ComCrmAddressRegistrySelfServiceResourceGetAddressSecurity,
  request: operations.ComCrmAddressRegistrySelfServiceResourceGetAddressRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ComCrmAddressRegistrySelfServiceResourceGetAddressResponse,
      | CrmError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .ComCrmAddressRegistrySelfServiceResourceGetAddressRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/self-service/v2/get_addresses")();

  const query = encodeFormQuery({
    "google_place_id": payload.google_place_id,
    "latlng": payload.latlng,
    "session_id": payload.session_id,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "api_key",
        type: "apiKey:header",
        value: security?.secretAPIKey,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.authorization,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "com.crm.AddressRegistrySelfServiceResource_getAddress",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "4XX",
      "500",
      "502",
      "503",
      "504",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.ComCrmAddressRegistrySelfServiceResourceGetAddressResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .ComCrmAddressRegistrySelfServiceResourceGetAddressResponse$inboundSchema,
    ),
    M.fail([400, 401, 403, 404, "4XX"]),
    M.fail([500, 502, 503, 504, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
