/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 8b8b671f1fcd
 */

import * as z from "zod/v4-mini";
import { CrmcomCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CrmError } from "../models/errors/crm-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Payout Form
 *
 * @remarks
 * Web API used when consumers want to perform a payout. It's vital to study the Payment Gateway's required contact information. Make sure that this required information is already specified for contacts that use this form to make payouts since this Web API does not forward/includes such info in the request!
 */
export function hostedPagesComCrmHostedPagesSelfServiceResourceGeneratePayoutForm(
  client: CrmcomCore,
  security:
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormSecurity,
  request:
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: CrmcomCore,
  security:
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormSecurity,
  request:
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormResponse,
      | CrmError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/self-service/v2/hosted_pages/payouts")();

  const query = encodeFormQuery({
    "amount": payload.amount,
    "currency_code": payload.currency_code,
    "device_type": payload.device_type,
    "full_name": payload.full_name,
    "integration_id": payload.integration_id,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "api_key",
        type: "apiKey:header",
        value: security?.secretAPIKey,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.authorizationSelfService,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "com.crm.HostedPagesSelfServiceResource_generatePayoutForm",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "4XX",
      "500",
      "502",
      "503",
      "504",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .ComCrmHostedPagesSelfServiceResourceGeneratePayoutFormResponse$inboundSchema,
    ),
    M.fail([400, 401, 403, 404, "4XX"]),
    M.fail([500, 502, 503, 504, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
