/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { CrmCore } from "../core.js";
import { appendForm, normalizeBlob } from "../lib/encodings.js";
import {
  bytesToBlob,
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CrmError } from "../models/errors/crm-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload File
 *
 * @remarks
 * Create an upload signature for files. Uploading files into CRM.COM is achieved firstly by creating a signature for the file that will be uploaded and then connecting it to the related entity, e.g. Service Request (using the respective entity file APIs).
 *
 * If set, this operation will use {@link Security.authorizationSelfService} from the global security.
 */
export function platformComCrmFileSelfServiceResourceUploadFile(
  client: CrmCore,
  request?:
    | operations.ComCrmFileSelfServiceResourceUploadFileRequest
    | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ComCrmFileSelfServiceResourceUploadFileResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: CrmCore,
  request?:
    | operations.ComCrmFileSelfServiceResourceUploadFileRequest
    | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ComCrmFileSelfServiceResourceUploadFileResponse,
      | CrmError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(
          operations
            .ComCrmFileSelfServiceResourceUploadFileRequest$outboundSchema,
        ),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();
  if (payload != null) {
    if (isBlobLike(payload?.file)) {
      const file = payload?.file;
      const blob = await normalizeBlob(file);
      const name = "name" in file ? (file.name as string) : undefined;
      appendForm(body, "file", blob, name);
    } else if (isReadableStream(payload?.file.content)) {
      const buffer = await readableStreamToArrayBuffer(payload?.file.content);
      const contentType = getContentTypeFromFileName(payload?.file.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "file",
        bytesToBlob(buffer, contentType),
        payload?.file.fileName,
      );
    } else {
      const contentType = getContentTypeFromFileName(payload?.file.fileName)
        || "application/octet-stream";
      appendForm(
        body,
        "file",
        bytesToBlob(payload?.file.content, contentType),
        payload?.file.fileName,
      );
    }
    if (payload?.fileEntityType !== undefined) {
      appendForm(body, "fileEntityType", payload?.fileEntityType);
    }
  }

  const path = pathToFunc("/self-service/v2/upload/files")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(
    client._options.authorizationSelfService,
  );
  const securityInput = secConfig == null
    ? {}
    : { authorizationSelfService: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "com.crm.FileSelfServiceResource_uploadFile",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.authorizationSelfService,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.ComCrmFileSelfServiceResourceUploadFileResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      201,
      operations.ComCrmFileSelfServiceResourceUploadFileResponse$inboundSchema,
    ),
    M.fail([400, 401, 403, 404, "4XX"]),
    M.fail([500, 502, 503, 504, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
