/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 2a5369a921f3
 */

import * as z from "zod/v4-mini";
import { CrmcomCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { CrmError } from "../models/errors/crm-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Service Recommendation
 *
 * @remarks
 * Recommends a number of services to which a contact or organisation (who might already be a subscriber or not) can subscribed to. The Web API returns the services as well as their prices for different flows where a contact/organisation is willing to:
 *
 * Subscribe to their first service or
 * Subscribe to more services or
 * Change an existing service (change its price terms or components or change into another service).
 */
export function recommendationsComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendation(
  client: CrmcomCore,
  security:
    operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationSecurity,
  request?:
    | operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationRequest
    | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: CrmcomCore,
  security:
    operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationSecurity,
  request?:
    | operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationRequest
    | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationResponse,
      | CrmError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(
          operations
            .ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationRequest$outboundSchema,
        ),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/self-service/v2/services/recommendation")();

  const query = encodeFormQuery({
    "account_id": payload?.account_id,
    "billing_model": payload?.billing_model,
    "billing_period_duration": payload?.billing_period_duration,
    "billing_period_uot": payload?.billing_period_uot,
    "contact_id": payload?.contact_id,
    "include_components": payload?.include_components,
    "include_creatives": payload?.include_creatives,
    "include_total": payload?.include_total,
    "order": payload?.order,
    "organisation_id": payload?.organisation_id,
    "page": payload?.page,
    "price_terms_id": payload?.price_terms_id,
    "product_id": payload?.product_id,
    "search_value": payload?.search_value,
    "service_id": payload?.service_id,
    "size": payload?.size,
    "sort": payload?.sort,
    "subscription_id": payload?.subscription_id,
    "type_composition": payload?.type_composition,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "api_key",
        type: "apiKey:header",
        value: security?.secretAPIKey,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.authorization,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "com.crm.ServiceRecommendationSelfServiceResource_getServiceRecommendation",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "403",
      "404",
      "4XX",
      "500",
      "502",
      "503",
      "504",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationResponse,
    | CrmError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .ComCrmServiceRecommendationSelfServiceResourceGetServiceRecommendationResponse$inboundSchema,
    ),
    M.fail([400, 401, 403, 404, "4XX"]),
    M.fail([500, 502, 503, 504, "5XX"]),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
